body {
	background-color: $primary-color;
	background-image: url('../../images/background.jpg');
	background-size: cover;
	color: $base-font-color;
	font-family: $base-font-stack;
	font-size: $base-font-size;
	line-height: 1.5;
	letter-spacing:  0.01em;
}

h1 {
	font-size: 3em;
	font-weight: bold;
	text-align: center;
	padding-bottom: 0.8em;
}

button {
	background-color: $secondary-color;
	border: 1px solid $primary-color;
	border-radius: 8px;
	box-shadow: 3px 3px 3px -3px $primary-color;
	color: $base-font-color;
	font-size: 1.8em;
	font-weight: bold;
	height: 3em;
	padding: 5px 20px 5px 20px;
	text-decoration: none;
	width: 100%;

	i {
		font-size: 0.9em;
		padding: 0 0 0 5px; 
	}
}

.container {
	@extend .display-centered;

	background-color: transparentize($primary-color, 0.05);
	height: 100%;
	padding: 0 40px;
}

.display-centered {
	align-items: center;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	justify-content: center;
}