.option-description {
	@include textbox-background;
	border-radius: 1em;
	float: right;
	font-size: 2em;
	padding: 1em;
	width: 40%;
}

.options-list {
	float: left;
	width: 40%;

	padding-right: 1em;

	.option {
		padding-bottom: 1em;
	}

	.option:last-child {
		padding-bottom: 0;
	}
}

.question {
	@extend .display-centered;
	flex-direction: row-reverse
}